/*----------LOGO above TOC---------*/

  #header.fluid-row::before {
   content: "";
   height: 200px;
   width: 200px;
   float: right;
   background-image: url("images/IMOS_logo-stacked_transparent.png");
   background-size: contain;
   background-position: top right;
   background-repeat: no-repeat;
 }

/*----------vembedr---------*/
 
 .vembedr {
  margin-bottom: 10px;
}

.vembedr-rounded {
  display: inline-block;
  border-radius: 15px;
  overflow: hidden;
}

.vembedr-rounded iframe {
  display: block;
  border: none;
}